<%= render('layouts/errors', :object => @non_profit) %>

<%= form_for(@non_profit) do |f| %>
<div class="form-group">
<%= f.label :name %>
<%= f.text_field :name, class: "form-control" %>
</div>
<div class="form-group">
<%= f.label :description %>
<%= f.text_field :description, class: "form-control"%>
</div>
<%= f.submit :class => "btn btn-info" %>
<% end %>
